{% extends 'tom_common/base.html' %}
{% load static tom_education_extras  %}
{% block title %}Home{% endblock %}
{% block content %}
<div class="row">
  <div class="col-md-8">
    <p class="text-center"><img src="{% static 'streams/img/logo-colour.png' %}" class="img-fluid mx-auto"></p>
    <p>
    <a href="{% url 'tom_education:target_create' %}" class="btn btn-success">Add New Target</a>
    </p>
    {% target_latest_active %}
  </div>
  <div class="col-md-4">
    <h2>Latest Observations</h2>
    {% observationrecord_latest %}
</div>
{% endblock %}
