django~=2.2.3
tom_astrosource>=0.1.2
tomtoolkit==1.2.4
tom_education==1.1.4
fits2image==0.4.3
psycopg2==2.8.3
dramatiq[watch,redis]
django-dramatiq
boto3
django-storages
gunicorn[gevent]==19.9.0
django-cors-headers
django-rest-framework
