numpy
scipy<1.4.0
astropy
django~=2.2.3
tom_astrosource>=0.1.4
tomtoolkit
tom_education>=1.1.9
fits2image==0.4.3
psycopg2
dramatiq[watch,redis]
django-dramatiq
boto3
django-storages
# 2020-04-30: Newer versions of gevent do not compile correctly when using the
# python:3.8-alpine base image. Force a known-working version to be installed.
gevent==1.4.0
gunicorn[gevent]==20.0.4
django-cors-headers
django-rest-framework
